[submodule "client"]
	path = client
	url = https://github.com/Lee0JJ/CTCclient.git
[submodule "web3"]
	path = web3
	url = https://github.com/Lee0JJ/web3.git
[submodule "CTCMobile3"]
	path = CTCMobile3
	url = https://github.com/Lee0JJ/CTCMobile3.git
[submodule "CTCserver"]
	path = CTCserver
	url = https://github.com/Lee0JJ/CTCserver.git
